@model IEnumerable<Product>

<h2>Products</h2>

<div style="display: block">
    <a href="/Product/InsertProduct/">Add a Product</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>Stock Level</th>
        <th></th>
    </tr>

    @foreach (var product in @Model)
    {
        <tr>
            <td>@product.ProductID</td>
            <td><a href="/Product/ViewProduct/@product.ProductID">@product.Name</a></td>
            <td>$@product.Price.ToString("0.00")</td>
            <td>@product.CategoryID</td>
            <td>@product.StockLevel</td>
            <td>@(product.OnSale?"SALE":"")</td>
        </tr>
    }

</table>