@model Product

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>StockLevel</th>
        <th></th>
    </tr>
    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.Name</td>
        <td>$@Model.Price.ToString("0.00")</td>
        <td>@Model.CategoryID</td>
        <td>@Model.StockLevel</td>
        <td>@(Model.OnSale?"SALE":"")</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Product/UpdateProduct/@Model.ProductID">Update this product</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteProductFromDatabase", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>